@import './import';

body {
    font-family: Calibri, sans-serif;
}

main {
    width: 780px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
